h2{
  color: green;
}
h2.apple{
  color: red;
}
body{
  background-color: yellow;
  display: flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}
img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

